@use "helpers" as *;

:root {
  --color-light: white;
  --color-dark: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --border: #{rem(1)} solid var(--color-dark-15);
  --color-gray-50: #7e7e81;
  --color-dark-60: #98989a;

  --color-accent: #ffd11a;
  --color-red: #ff5500;

  --font-family-base: "Cormorant", "sans-serif";
  --font-family-accent: "Floriselscript", "sans-serif";

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  --gradient: linear-gradient(
    45deg,
    var(--color-dark-15) 64%,
    var(--color-accent) 136%
  );
  @include laptop {
    --container-width: #{rem(1280)};
  }
}
